<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/file-leak-detector/src/test/java/org/kohsuke/file_leak_detector/FileChannelTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.kohsuke.file_leak_detector.FileChannelTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="file-leak-detector"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:C:\workspaces\file-leak-detector\target\file-leak-detector-1.9-SNAPSHOT-jar-with-dependencies.jar=http=20003,strong,dumpatshutdown"/>
</launchConfiguration>
